Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color:rgb(244, 242, 240) 
  }  
  button {   
    background-color: #fbf4f4;   
    width: 20%;  
     color: orange;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
           }   
   form {   
          border: 3px solid #f1f1f1;   
      }   
   input[type=text], input[type=password] {   
          width: 200px;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px solid rgb(227, 233, 227);   
          box-sizing: border-box;   
      }  
   button:hover {   
          opacity: 0.7;   
      }   
    .cancelbtn {   
          width: auto;   
          padding: 5px 80px;  
          margin: 10px 5px;  
      }   
          
       
   .container {   
          padding: 25px;   
          background-color: lightblue;  
      }      